@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-top-1681358446 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1681358446 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 142px;
}

.custom-shape-divider-top-1681358446 .shape-fill {
    fill: #D97706;
}



.custom-shape-divider-top-1681358631 {
    position: absolute;
    top: 20;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1681358631 svg {
    position: relative;
    display: block;
    width: calc(157% + 1.3px);
    height: 174px;
}

.custom-shape-divider-top-1681358631 .shape-fill {
    fill: #ffedd5;
}





.custom-shape-divider-top-1681357707 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1681357707 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1681357707 .shape-fill {
    fill: #FF8A4C;
}